*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(270deg, rgb(149, 247, 149), rgb(123, 212, 248));
}
.mainContainer{
    background-color: aliceblue;
    width: 60%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;
}

.mainContainer h1{
    font-size: 30px;
    font-weight: 800;
    color: rgb(188, 28, 28);
    border-bottom: 3px solid rgb(97, 97, 247);
    padding-bottom: 20px;
    text-align: center;
}

.questionBox{
    padding: 30px 0;
}

.questionBox h2{
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
}

.choicesButtons button{
    background: azure;
    border: 1px solid #222;
    border-radius: 10px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 8px 0;
    color: rgb(14, 17, 16);
    cursor: pointer;
}

.choicesButtons button:hover{
    background-color: rgb(212, 240, 253);
    color: green;
}

.choicesButtons button:active{
    background-color: rgb(247, 247, 236);
    color: black;
}

#nextButton{
    background: rgb(191, 241, 241);
    color: rgb(20, 21, 21) ;
    font-weight: 550;
    width: 150px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

#nextButton:hover{
    background: linear-gradient(90deg, rgb(203, 203, 241), rgb(185, 245, 185));
}

#nextButton:active{
    background: rgb(212, 241, 169);
}

#restartButton{
    cursor: pointer;
    display: block;
    width: 170px;
    background-color: rgb(210, 247, 192);
    border: 0;
    border-radius: 8px;
    color: rgb(11, 0, 0);
    font-weight: 600;
    padding: 12px;
    margin: 25px auto 0;
    font-size: 17px;
    transition: transformation 0.3s ease, background-color 0.3s ease;
}

#restartButton:hover{
    transform: scale(0.98);
    background-color: rgb(183, 235, 106)
}

#restartButton:active{
    background-color: rgb(147, 251, 216);
}