*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(270deg, rgb(149, 247, 149), rgb(123, 212, 248));
}
.mainContainer{
    background-color: aliceblue;
    width: 60%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;
}

.mainContainer h1{
    font-size: 30px;
    font-weight: 800;
    color: rgb(188, 28, 28);
    border-bottom: 3px solid rgb(97, 97, 247);
    padding-bottom: 20px;
    text-align: center;
}

.questionBox{
    padding: 30px 0;
}

.questionBox h2{
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
}

.choicesButtons button{
    background: azure;
    border: 1px solid #222;
    border-radius: 10px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 8px 0;
    color: rgb(14, 17, 16);
    cursor: pointer;
}

.choicesButtons button:hover{
    background-color: rgb(212, 240, 253);
}

.choicesButtons button:active{
    background-color: rgb(247, 247, 236);
}

